h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: rgb(107, 109, 112);
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
}

p {
    text-align: center;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

.p-locations {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

button {
    background-color: rgb(160, 160, 187);
    border: 1px solid rgb(144, 148, 155);
    border-radius: 5px;
    margin: 2%;
    color: black;
}

img {
    border-radius: 10px;
    width: 350px;
    height: 300px;
}

.img-customers {
    border-radius: 10px;
    width: 700px;
    height: 700px;
}

.img-logo {
    border-radius: 10px;
    width: 500px;
    height: 150px;
}

.img-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 204);
    width: 20%;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

.img-area-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 204);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    width: 40%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
}

.nav-bar {
    display: flex;
    margin: 2%;
    padding: 1%;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px transparent;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    width: 65%;
}

.who-we-are {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
    width: 4%;
}

.side-bar-item {
    text-align: center;
    font-size: large;
    margin-bottom: 60%;
    border: 1px solid black;
    padding: 5px;
    position: relative;
}

.side-bar-item:hover {
    background-color: aliceblue;
}

.side-bar-item:last-child {
    margin-bottom: 0;
}

.side-bar-item .tooltip {
    visibility: hidden;
    position: absolute;
    top: 700%;
    left: 100%;
    transform: translate(10px, -50%);
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.side-bar-item:hover .tooltip {
    visibility: visible;
    width: 1700px;
    opacity: 1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space {
    justify-content: space-around;
}

.map iframe {
    border-radius: 15px;
    margin-bottom: 3%;
}